/ComandosLeituraGravação/.gradle/
/ComandosLeituraGravação/build/
/VariaveisTiposOperadores/.gradle/
/EstruturaCondicionalSe/.gradle/
/EstruturaCondicionalSe/build/
/EstruturaEscolha/.gradle/
/EstruturaEscolha/build/
/ExercicioCondicional/.gradle/
/ExercicioCondicional/build/
/EstruturaFor/.gradle/
/EstruturaFor/build/
/EstruturaWhile/.gradle/
/EstruturaWhile/build/
/ExercicioEstruturaRepeticao/target/
/ExercicioEstruturaRepeticao/build/
/MinhaPtimeiraInterfaceGrafica/.gradle/
/Eventos/.gradle/
/Eventos/build/
/TestandoInterfaces/.gradle/
/MinhaInterface/.gradle/
/TestandoInterfaces/build/
/ExercicioInterfaceGrafica/.gradle/
/ExercicioInterfaceGrafica/build/
/TodoApp/.gradle/
