/ComandosLeituraGravação/.gradle/
/ComandosLeituraGravação/build/
/VariaveisTiposOperadores/.gradle/
/EstruturaCondicionalSe/.gradle/
/EstruturaCondicionalSe/build/
/EstruturaEscolha/.gradle/
/EstruturaEscolha/build/
